/*** Base style ***/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    text-align: center;
}

.row {
    width: 100%;
}

.container {
    border: 2px solid black;
    background-color: #999;
    margin: 20px;
}

h2 {
    border: 1px solid black;
    width: 33.33%;
    text-align: center;
    float: right;
    position: relative;
}

#sushi {
    background-color: #e5d198;
}

#beef {
    background-color: #c14543;
    color: white;
}

#chicken {
    background-color: #d59898;
}

p {
    clear: right;
    margin: 20px;
    padding-top: 20px;
}

/*** Responsive media queries ***/

/* mobile only */

@media (max-width: 767px) {
    .col-mob-12 {
        float: left;
        width: 100%;
    }
}

/* tablet only */

@media (min-width: 768px) and (max-width: 991px) {
    .col-tab-6, .col-tab-12 {
        float: left;
    }
    .col-tab-6 {
        width: 50%;
    }
    .col-tab-12 {
        width: 100%;
    }
    #sushi {
        width: 20%;
    }
}

/* desktop only */

@media (min-width: 992px) {
    .col-dsk-4 {
        float: left;
        width: 33.33%;
    }
}